<div class="row">
<a href="http://github.com/Callum-Todd/MiningDash">
<img src="github.png" alt="" style="display: block;
  margin-left: auto;
  margin-right: auto;
  height: 30px;
  width: auto;
  padding-bottom: 10px;">
</a>
</div>