<div class="row" style=" margin-top: 5%;">
    <div class="column navi">
        <h2 class="inline">BattleMoira</h2>
        <a class="inline" style="color: gray; padding-left: 50px;">0xedD0CaF72bC3bc30c185Db4066a55102eD54A01F</a>
            
            <a class="link" href="https://flexpool.io/0xd1c6ddd842180cd54eee389aa1302bcaf55fa44a">
                <h6 class="inline">Pool</h6>
            </a>
            <a class="link" href="https://growing.fi">
                <h6 class="inline">Staking</h6>
            </a>
            <a class="link" href="/projections">
                <h6 class="inline">Projections</h6>
            </a>
            <a class="link" href="/exspenses">
                <h6 class="inline">Ledger</h6>
            </a>
            <a class="link" href="/history">
                <h6 class="inline">History</h6>
            </a>
    </div>
</div>

