{% include "header.njk" %}

<body>
    
    <div class="container">

        {% include "nav.njk" %}

        <div class="row" style="padding-bottom: 2%;">
                
                <div class="column">
                    <h1>Income</h1>
                    <div>
                        <h2 class="inline">Average Annual</h2>
                        <h2 class="inline" style="position: absolute; right: 0;" id="annual">£ 7327</h2>
                    </div>
                    <div>
                        <h3 class="inline">Average Monthly</h3>
                        <h3 class="inline" style="position: absolute; right: 0;" id="monthly">£ 7327</h3>
                    </div>
                    <div>
                        <h4 class="inline">Average Weekly</h4>
                        <h4 class="inline" style="position: absolute; right: 0;" id="weekly">£ 7327</h4>
                    </div>
                    <div>
                        <h5 class="inline">Average Daily</h5>
                        <h5 class="inline" style="position: absolute; right: 0;" id="daily">£ 7327</h5>
                    </div>
                    <h5 id="priceline" style="padding-top: 2%;">at current price of </h5>

                </div>
            </div>

            <div class="row" style="padding-bottom: 2%;">
                <div class="column">
                    <h2>Power Costs</h2>
                    <div>
                        <h2 class="inline">Average Annual</h2>
                        <h2 class="inline" style="position: absolute; right: 0;" id="cost_annual">£ 7327</h2>
                    </div>
                    <div>
                        <h3 class="inline">Average Monthly</h3>
                        <h3 class="inline" style="position: absolute; right: 0;" id="cost_monthly">£ 7327</h3>
                    </div>
                    <div>
                        <h4 class="inline">Average Weekly</h4>
                        <h4 class="inline" style="position: absolute; right: 0;" id="cost_weekly">£ 7327</h4>
                    </div>
                    <div>
                        <h5 class="inline">Average Daily</h5>
                        <h5 class="inline" style="position: absolute; right: 0;" id="cost_daily">£ 7327</h5>
                    </div>
                    <h5 id="costline" style="padding-top: 2%;">using 24.04 kw/H (1000 Watts) at £0.19 per kw/H</h5>
                </div>
            </div>
            <div class="row" style="padding-bottom: 2%;">
                <div class="column">
                    <h2>Profit</h2>
                    <div>
                        <h2 class="inline">Average Annual</h2>
                        <h2 class="inline" style="position: absolute; right: 0;" id="profit_annual">£ 7327</h2>
                    </div>
                    <div>
                        <h3 class="inline">Average Monthly</h3>
                        <h3 class="inline" style="position: absolute; right: 0;" id="profit_monthly">£ 7327</h3>
                    </div>
                    <div>
                        <h4 class="inline">Average Weekly</h4>
                        <h4 class="inline" style="position: absolute; right: 0;" id="profit_weekly">£ 7327</h4>
                    </div>
                    <div>
                        <h5 class="inline">Average Daily</h5>
                        <h5 class="inline" style="position: absolute; right: 0;" id="profit_daily">£ 7327</h5>
                    </div>
                    <h5 id="profitline" style="padding-top: 2%;"></h5>
                </div>
            </div>
    
    <script src="/js/projections.js"></script>
    </div>
</body>